* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.myNav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.homeLink {
  float: left;
  padding-left: 15px;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
}

.itemsLinks {
  list-style-type: none;
  display: inline;
  float: right;
}

.item {
  float: right;
}

/* Links buttons with hover effect */
/*-------------------------------*/
.itemRef {
  position: relative;
  padding: 15px 15px;
  margin: 10px 15px;
  text-decoration: none;
  border: 1px solid aquamarine;
  font-size: 16px;
  border-radius: 30px;
  color: aquamarine;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 1s;
}
.itemRef:hover {
  color: black;
  background-color: aquamarine;
  box-shadow: 0 0 25px aquamarine;
}
/*-------------------------------*/


.videoBackContainer {
  padding: 0;
  margin: 0;
  height: 95vh;
}

.videoBlend {
  position: absolute;
  width: 100%;
  height: 95vh;
  background-color: #307264;
  opacity: 60%;
  mix-blend-mode:darken;
}

.videoText {
  position: absolute;
  text-align: center;
  top: 36%;
  width: 100%;
}

.videoTitle {
  margin: 0;
  font-size: 64px;
  color: whitesmoke;
}

.videoDescription {
  margin: 0;
  font-size: 20 px;
  color: whitesmoke;
}

.videoItself {
  object-fit: cover;
  width: 100%;
  height: 95vh;
}

.myFooter { 
  text-align: center;
  background-color: #c55214;
}

.contentFooter {
  font-size: small;
  font-weight: bolder;
}