.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myNav {
  padding-left: 15px;
  display: flex;
  align-items: center;
  background-color: aquamarine;
  width: 100%;
  height: 75px;
}

.homeLink {
  display: flex;
  color: #282c34;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
}

.itemsLinks {
  display: flex;
  align-items: right;
}

.item {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: darkslategrey;
}

.videoContainer {
  display: block;
  justify-content: center;
}

.videoItself {
  object-fit: cover;
  width: 100%;
  height: 95vh;
}