* {
  box-sizing: border-box;

}
body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Montserrat';
}
body::-webkit-scrollbar {
  display: none;
}

.myNav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.homeLink {
  float: left;
  padding-left: 15px;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
}
.itemsLinks {
  list-style-type: none;
  display: inline;
  float: right;
}
.item {
  float: right;
}

/* Links buttons of Nav with hover effect */
/*-------------------------------*/
.itemRef {
  position: relative;
  padding: 15px 15px;
  margin: 10px 15px;
  text-decoration: none;
  border: 1px solid aquamarine;
  font-size: 16px;
  border-radius: 30px;
  color: aquamarine;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 1s;
}
.itemRef:hover {
  color: black;
  background-color: aquamarine;
  box-shadow: 0 0 25px aquamarine;
}
/*-------------------------------*/


.videoBackContainer {
  height: 100vh;
}
.videoBlend {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #307264;
  opacity: 60%;
  mix-blend-mode:darken;
}
.videoText {
  position: absolute;
  text-align: center;
  top: 41%;
  width: 100%;
}
.videoTitle {
  margin: 0;
  font-family: 'Bebas Neue';
  font-size: 64px;
  letter-spacing: 2.5px;
  color: whitesmoke;
}
.videoDescription {
  margin: 0;
  font-size: 20 px;
  color: whitesmoke;
}
.videoItself {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/* Services side */
.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
}
.textServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.textServices h2 {
  margin: 0;
  font-size: 46pt;
  color: black;
}
.textServices p {
  margin: 0;
}
.cardsContainer {
  width: 95%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.cardBack {
  position: relative;
  background-color: whitesmoke;
  margin: 10px;
  min-width: calc(100/3);
  height: 77vh;
  border-radius: 10px;
}
.cardImage {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardImage img{
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 95%;
  height: 95%;
}
.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin: 0 10px 0 10px;
}


/* Contact side */
.contactContainer {
  display: flex;
  height: 100vh;
}
.contactBlend {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #865433;
  mix-blend-mode: hue;
  z-index: -2;
}
.contacVideo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -3;
}
.sideContact {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.personalInfo {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 15px;
  color: black;
  background-color: #7fffd4;
  mix-blend-mode: lighten;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}
.textContact h3{
  margin: 0;
  font-family: 'Bebas Neue';
  font-size: 36pt;
}
.textContact p {
  margin: 8px 0 0 0;
}
.personalData{
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  white-space: break-spaces;
}
.myForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
}
.inputGroup {
  margin-bottom: 30px;
  position: relative;
}
input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1.5px solid #7fffd4;
  border-radius: 10px;
  color: #7fffd4;
  background:transparent;
  font-size: 12pt; 
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #7fffd4;
  cursor: text;
  transition: 0.5s;
}
button {
  padding: 10px 0;
  color: #7fffd4;
  background-color: transparent;
  outline: 0;
  border: 1.5px solid #7fffd4;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: 1s;
}
button:hover{
  box-shadow: 0 0 25px aquamarine;
  color:black;
  background-color: #7fffd4;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 10pt;
}


.myFooter { 
  text-align: center;
  background-color: #c55214;
}

.contentFooter {
  font-size: small;
  font-weight: bolder;
}